<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>트리그리드</title>

    <!-- 공통 CSS/JS -->
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="script"></div>
    <div th:replace="layout/sidebar :: sidebar"></div>
    <main layout:fragment="content">
        <!-- 여기에 각 페이지 내용이 들어옴 -->
    </main>
</body>
</html>
