<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/treegrid}">

<div class="container-fluid" layout:fragment="content">
    <div class="row mb-3 text-center">
        <div class="col-4 themed-grid-col vh-100" >
            <treegrid
                    Data_Url="/treegrid/treegridData.do"  Data_Param_Class="Grid"
                    Layout_Url="/treegrid/treegridLayout.do" Layout_Param_Id="TG_GRID" Layout_Param_Grid="Basic" Layout_Param_Data="TG_GRID"
                    Upload_Url="/treegrid/treegridUpload.do" Upload_Param_Class="Grid"  Upload_Data="DATA"
                    Upload_Flags="AllCols"  Upload_Format="JSON"
                    Upload_Type="Changes"
            >
            </treegrid> <!-- TreeGrid data source definition -->
        </div>
        <div class="col-4 themed-grid-col vh-100">
            <treegrid
                    Data_Url="/treegrid/treegridData.do" Data_Param_Class="GridAttr"
                    Layout_Url="/treegrid/treegridLayout.do" Layout_Param_Id="TG_GRID_ATTR" Layout_Param_Data="TG_GRID_ATTR"
                    Upload_Url="/treegrid/treegridUpload.do" Upload_Param_Class="GridAttr" Upload_Data="DATA"
                    Upload_Flags="AllCols"  Upload_Format="JSON"
                    Upload_Type="Changes"
            >
            </treegrid> <!-- TreeGrid data source definition -->
        </div>
        <div class="col-4 themed-grid-col vh-100">
            <treegrid
                    Data_Url="/treegrid/treegridData.do" Data_Param_Class="GridAttrItem"
                    Layout_Url="/treegrid/treegridLayout.do" Layout_Param_Id="TG_GRID_ATTR_ITEM" Layout_Param_Data="TG_GRID_ATTR_ITEM"
                    Upload_Url="/treegrid/treegridUpload.do" Upload_Param_Class="GridAttrItem"  Upload_Data="DATA"
                    Upload_Flags="AllCols"  Upload_Format="JSON"
                    Upload_Type="Changes"
            >
            </treegrid> <!-- TreeGrid data source definition -->
        </div>
    </div>
</div>
</html>