<Grid>
    <Cfg id="TG_DATA_ATTR_ITEM" Detail="1" SuppressCfg="1" />
    <Cfg SafeCSS="1"/>
    <Cfg Style="Standard"/>
    <Cfg Sort="ATTR_SN" Sorting="1"/>

    <!-- - Columns  -->
    <Panel Visible="1"/>
    <LeftCols>
        <C Name="ATTR_SN"/>
    </LeftCols>
    <Cols>
        <C Name="SN" Type="Lines"/>
        <C Name="ATTR_ITEM" Type="Lines"/>
        <C Name="ATTR_ROW" Type="Lines"/>
        <C Name="ATTR_SN" Type="Lines"/>
        <C Name="ATTR_VALUE" Type="Lines"/>
        <C Name="USE_YN" Type="Lines"/>
    </Cols>

    <!--  Rows  -->
    <Header SN="ID" ATTR_SN="ATTR_SN" ATTR_ROW="ATTR_ROW" ATTR_ITEM="ATTR_ITEM" ATTR_VALUE="ATTR_VALUE" USE_YN="USE_YN" Visible="1"/>
    <Root CDef="DETAIL" AcceptDef="DETAIL"/>
    <Toolbar id="Toolbar" Visible="1" Space="-1" Tag="" CanHide="0"
             SaveButton="Class"
             ExportPDFButton="Class"
             ExportButton="Class" />
    <Body>
    <B> </B>
    </Body>
</Grid>