<Grid>
    <Cfg id="Member"/>

    <!-- - Columns  -->
    <Panel Visible="1"/>
    <LeftCols>
        <C Name="ID" Width="150"/>
        <C Name="NAME" Width="150"/>
    </LeftCols>
    <Cols>
        <C Name="AGE"/>
        <C Name="EMAIL"/>
        <C Name="PHONE"/>
    </Cols>
    <RightCols>
        <C Name="DEPARTMENT"/>
        <C Name="POSITION"/>
    </RightCols>
    <!--  Rows  -->
    <Header ID="ID" NAME="NAME" AGE="AGE" EMAIL="EMAIL" PHONE="PHONE" DEPARTMENT="DEPARTMENT" POSITION="POSITION" Visible="1"/>
    <Head>
    </Head>

    <Toolbar id="Toolbar" Visible="1" Space="-1" Tag="" CanHide="0"
             SaveButton="Class"
             ExportPDFButton="Class"
             ExportButton="Class" />
</Grid>