<Grid>
    <Cfg id="Member"/>

    <!-- - Columns  -->
    <Panel Visible="1"/>
    <LeftCols>
        <C Name="id" Width="150"/>
        <C Name="name" Width="150"/>
    </LeftCols>
    <Cols>
        <C Name="age"/>
        <C Name="email"/>
        <C Name="phone"/>
    </Cols>
    <RightCols>
        <C Name="department"/>
        <C Name="position"/>
    </RightCols>
    <!--  Rows  -->
    <Header id="id" name="name" age="age" email="email" phone="phone" department="department" position="position" Visible="1"/>
    <Head>
    </Head>

    <Toolbar id="Toolbar" Visible="1" Space="-1" Tag="" CanHide="0"
             SaveButton="Class"
             ExportPDFButton="Class"
             ExportButton="Class" />
</Grid>