<Grid>
    <Cfg id="TG_DATA_ATTR"/>
    <Cfg SafeCSS="1"/>
    <Cfg Style="Standard"/>

    <!-- - Columns  -->
    <Panel Visible="1"/>
    <Cols>
        <C Name="SN"/>
        <C Name="DATA_SN"/>
        <C Name="ATTR"/>
        <C Name="USE_YN"/>
    </Cols>

    <!--  Rows  -->
    <Header SN="ID" DATA_SN="DATA_SN" ATTR="ATTR" USE_YN="USE_YN" Visible="1"/>
    <Head>
    </Head>

    <Toolbar id="Toolbar" Visible="1" Space="-1" Tag="" CanHide="0"
             SaveButton="Class"
             ExportPDFButton="Class"
             ExportButton="Class" />
</Grid>